# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment folders
venv/
.env/

# Ignore Gradio cache
.gradio/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore certificate files (not needed in repo)
*.pem
*.crt
*.key
