# Python ignores
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Logs and databases
*.log
*.sqlite3

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store

# AI/ML project files
*.pt
*.h5
*.ckpt
*.bin
*.safetensors
checkpoints/
datasets/

